@{
    ViewData["Title"] = "Начало";
}

<div class="text-center p-3">
    <form method="post" asp-controller="Measures">
        
        <input type="text" list="product" name="product" placeholder="Въведи продукт"/>
        <datalist id="product">
            @foreach (var product in Model)
            {
                <option value=@product.Name></option>
            }
        </datalist>
        
        <label searchFrom="FromDate">От:</label>
        <input type="datetime-local" name="from" asp-for="@DateTime.Today" placeholder="yyyy-MM-ddTHH:mm"/>
        <label searchTo="ToDate">До:</label>
        <input type="datetime-local" name="to" asp-for="@DateTime.Now" placeholder="yyyy-MM-ddTHH:mm"/>
        <input type="text" name="kanbel" placeholder="№ кант. бел."/>
        <input type="text" name="plrem" placeholder="№ ремарке"/>
        <input type=submit value="Търси" />
    </form>
</div>